html {
    margin: 0;
  }
  body {
    transition: background-color 0.5s ease;
  }
  span {
    display: block;
  }
  .canvas {
    margin: 100px auto 100px;
    width: 80%;
    text-align: center;
  }
  
  .button {
    width: 100px;
    height: 100px;
    border: solid black 2px;
    display: inline-block;
    transition: transform 0.3s ease;
  }
  .button:hover {
    transform: scale(1.1);
  }
  
  
  #grey {
    background: grey;
  }
  
  #pink {
    background: pink;
  }
  #blue {
    background: blue;
  }
  #yellow {
    background: yellow;
  }
  
  